.home-banner {
  background-image: image-url("deathvalley.JPG");
  background-size: cover;
  background-position: center;
  height: 100vh;

  margin-left: 100px;
  margin-right: 100px;
}

.home-featured {
  height: 100vh;
  color: white;

  margin-left: 100px;
  margin-right: 100px;
  margin-top: 200px;

  h1 {
    text-shadow: 0.25rem -0.25rem rgba($travel-pink, 1), -0.25rem -0.25rem rgba($travel-blue, 1);
  }
}

.home-banner-legend {
  background-color: white;

  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;

  display: flex;
  justify-content: flex-end;

  padding-right: 10px;

  i {
    margin-right: 10px;
  }

}
