.home-banner {
  background-image: image-url("deathvalley.JPG");
  background-size: cover;
  background-position: center;
  height: 100vh;

  margin-left: 100px;
  margin-right: 100px;
}

.home-featured {
  height: 100vh;
  color: white;
}
