<nav class="navbar">
  <div class="navbar-center">
    <%= link_to countries_path do %>
      <p class="navbar-item effect-underline">Discover countries</p>
    <% end %>
    <%= link_to root_path do %>
      <h1 class="logo">scyho</h1>
    <% end %>
    <%= link_to trips_path do %>
      <p class="navbar-item effect-underline">Go on road trips</p>
    <% end %>
  </div>

  <div class="navbar-right">
    <%= link_to root_path do %>
      <i class="fas fa-search"></i>
    <% end %>
  </div>
</nav>
