<nav class="navbar">
  <div class="navbar-center">

    <div class="navbar-dropdown">
      <ul>
        <li><a href="#"><p class="navbar-item">Discover countries</p></a>
          <ul>
            <li><a href="#">North America</a></li>
            <li><a href="#">Europe</a>
              <ul>
                <li><a href="/countries/italy">Italy</a></li>
              </ul>
            </li>
            <li><a href="#">Asia</a>
              <ul>
                <li><a href="/countries/malaysia">Malaysia</a></li>
                <li><a href="/countries/singapore">Singapore</a></li>
                <li><a href="#">Thailand</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>




    <%= link_to root_path do %>
      <h1 class="logo">scyho</h1>
    <% end %>
    <%= link_to trips_path do %>
      <p class="navbar-item">Go on road trips</p>
    <% end %>
  </div>

  <div class="navbar-right">
    <%= link_to root_path do %>
      <i class="fas fa-search"></i>
    <% end %>
  </div>
</nav>
