<div class="home-socialmedia">
  <h1>My Instagram wanderings</h1>
  <div class="instagram-feed">
    <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/65dadcfc379051a6adf9760acb1b6a8c.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
  </div>
</div>


