<!-- <div class="trip-grid">

  <%#= link_to trip_path(@hometrips[0].trip_name.downcase) do %>
    <div class="one" style="background-image: url(<%#= asset_path "#{@hometrips[0].trip_name.downcase}-card.jpg" %>)">
      <%#= @hometrips[0].trip_name %>
    </div>
  <#% end %>

  <div class="two" style="background-image: url(<%#= asset_path "#{@hometrips[1].trip_name.downcase}-card.jpg" %>)">
    <%#= @hometrips[1].trip_name %>
  </div>

</div> -->

