<div class="home-banner"></div>
<div class="home-banner-legend">
  <i class="fas fa-map-marker-alt"></i> <p>Death Valley National Park, Nevada, USA</p>
</div>

<div class="home-featured text-center">

  <div class="home-featured-title">
    <h1><em>TOP 3</em> Summer Throwbacks ></h1>
  </div>


  <%= render "shared/countrygrid" %>

  <%= render "shared/tripgrid" %>
</div>
