<div class="home-banner"></div>
<div class="home-banner-legend">
  <i class="fas fa-map-marker-alt"></i> <p>Souvenir from Death Valley National Park, Nevada, USA</p>
</div>


<%= render "shared/featuredgrid" %>

<%= render "shared/nexttrip" %>

<%= render "shared/socialmedia" %>

