.country-grid {
  display: grid;
  grid-template-columns: 400px 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-rows: 25% 25% 25% 25%;
  height: 100vh;
}

.square-one {
  grid-row: 1 / span 2;
  grid-column: 3 / span 2;
  background-color: $travel-purple;

  border-bottom: 10px solid $light-gray;
}

.one {
  grid-column: 2 / span 3;
  grid-row: 3 / span 2;

  .img-one {
    height: 100%;
    background-size: cover;
    background-position: center;

    border-left: 10px solid $light-gray;
    border-top: 10px solid $light-gray;
  }

}

.text-one {
  grid-column: 1 / span 1;
  grid-row: 3 / span 2;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 30px;

  h1 {
    font-size: 80px;
    text-shadow: 0.25rem -0.25rem rgba($travel-pink, 1), -0.25rem -0.25rem rgba($travel-blue, 1);
  }
}

.two {
  grid-column: 1 / span 2 ;
  grid-row: 1 / span 2 ;



  .img-two {
    height: 100%;
    background-size: cover;
    background-position: center;

    border-right: 10px solid $light-gray;
    border-bottom: 10px solid $light-gray;

  }
}

.text-two {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 30px;

  h1 {
    font-size: 80px;
    text-shadow: 0.25rem -0.25rem rgba($travel-pink, 1), -0.25rem -0.25rem rgba($travel-blue, 1);
  }
}

// .three {
//   grid-column: 1;
//   grid-row: 2 / 5;
//   background-color: blue;
// }


