.navbar {
  background-color: white;

  margin-bottom: 0;
  margin-left: 100px;
  margin-right: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  height: 150px;
}

.navbar-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-right {
  position: absolute;
  right: 50px;

  i {
    color: black;
  }
}

p.navbar-item {
  margin-bottom: 0;

  font-size: 15px;
  font-weight: 500;
  color: black;

  width: 150px;

  text-align: center;

  // margin-left: 50px;
  // margin-right: 50px;

  &:hover {
    color: $travel-pink;
  }
}


h1.logo {
  font-size: 80px;
  font-family: "Norican";
  color: black;

  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;

  animation: move linear 3000ms infinite;
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(173, 78%, 72%, 1),
      3px -3px 0 hsla(173, 78%, 72%, 1),
      2px -2px 0 hsla(173, 78%, 72%, 1),
      1px -1px 0 hsla(173, 78%, 72%, 1),
      -4px 4px 0 hsla(326, 78%, 63%, 1),
      -3px 3px 0 hsla(326, 78%, 63%, 1),
      -2px 2px 0 hsla(326, 78%, 63%, 1),
      -1px 1px 0 hsla(326, 78%, 63%, 1);
  }
  25% {
    text-shadow:
      -4px -4px 0 hsla(326, 78%, 63%, 1),
      -3px -3px 0 hsla(326, 78%, 63%, 1),
      -2px -2px 0 hsla(326, 78%, 63%, 1),
      -1px -1px 0 hsla(326, 78%, 63%, 1),
      4px 4px 0 hsla(173, 78%, 72%, 1),
      3px 3px 0 hsla(173, 78%, 72%, 1),
      2px 2px 0 hsla(173, 78%, 72%, 1),
      1px 1px 0 hsla(173, 78%, 72%, 1);
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(173, 78%, 72%, 1),
      -3px 3px 0 hsla(173, 78%, 72%, 1),
      -2px 2px 0 hsla(173, 78%, 72%, 1),
      -1px 1px 0 hsla(173, 78%, 72%, 1),
      4px -4px 0 hsla(326, 78%, 63%, 1),
      3px -3px 0 hsla(326, 78%, 63%, 1),
      2px -2px 0 hsla(326, 78%, 63%, 1),
      1px -1px 0 hsla(326, 78%, 63%, 1);
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(326, 78%, 63%, 1),
      3px 3px 0 hsla(326, 78%, 63%, 1),
      2px 2px 0 hsla(326, 78%, 63%, 1),
      1px 1px 0 hsla(326, 78%, 63%, 1),
      -4px -4px 0 hsla(173, 78%, 72%, 1),
      -3px -3px 0 hsla(173, 78%, 72%, 1),
      -2px -2px 0 hsla(173, 78%, 72%, 1),
      -1px -1px 0 hsla(173, 78%, 72%, 1);
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(173, 78%, 72%, 1),
      3px -3px 0 hsla(173, 78%, 72%, 1),
      2px -2px 0 hsla(173, 78%, 72%, 1),
      1px -1px 0 hsla(173, 78%, 72%, 1),
      -4px 4px 0 hsla(326, 78%, 63%, 1),
      -3px 3px 0 hsla(326, 78%, 63%, 1),
      -2px 2px 0 hsla(326, 78%, 63%, 1),
      -1px 1px 0 hsla(326, 78%, 63%, 1);
  }
}


// Dropdown Menu

.navbar-dropdown ul {
  list-style: none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

.navbar-dropdown ul a
{
  display:block;
  color: white;
  text-decoration:none;
  font-weight:300;
  font-size:15px;
  line-height:32px;
}

.navbar-dropdown ul li
{
  position:relative;
  float: left;
  margin:0;
  padding:0
}

.navbar-dropdown ul li:hover
{
  // background:#f6f6f6
}

.navbar-dropdown ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background-color: $travel-pink;
  padding:0;
  text-align: center;
}

.navbar-dropdown ul ul li
{
  float: none;
  width: 150px;
}

.navbar-dropdown ul ul a
{
  line-height:120%;
  padding:10px 15px
}

.navbar-dropdown ul ul ul
{
  top:0;
  left: 100%
}

.navbar-dropdown ul li:hover > ul
{
  display:block
}
