.navbar {

  // Fix the navbar on top of home banner
  position: absolute;
  top:0;
  width:100%;
  z-index:1;

  // Crack to vertically align the icons
  line-height: 70px;

  padding-left: 30px;
  padding-right: 40px;
}

.logo {
  height: 80px;
}

.navbar-icons {

  // Vertically align the icons, goes with line-height in .navbar
  vertical-align: middle;
  // Make the icons stick to the right
  float: right;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  i {
    font-size: 25px;
    color: white;
    padding-right: 20px;
    &:hover {
      transition: 0.9s;
      transform: rotate(360deg);
      color: $travel-pink;
    }
  }

}

