.navbar {
  background-color: white;

  margin-bottom: 0;
  margin-left: 100px;
  margin-right: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  height: 120px;
}

.navbar-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-right {
  position: absolute;
  right: 50px;

  i {
    color: black;
  }
}

.logo {
  height: 80px;
}
