.home-socialmedia {
  h1 {
    text-shadow: 0.25rem -0.25rem rgba($travel-pink, 1), -0.25rem -0.25rem rgba($travel-blue, 1);
    font-size: 70px;

    text-align: center;

    margin-bottom: 40px;
  }
}

.instagram-feed {
  margin-left: 300px;
  margin-right: 300px;

}

